[worldserver]

########################################
# WobgobWorld module configuration
########################################
#
#    WobgobWorld.Enable
#        Description: Enable the colonist module and give people titles for early adoption
#        Default:     0 - Disabled
#                     1 - Enabled
#

WobgobWorld.Enable = 1
