[worldserver]

########################################
# Retroporting module configuration
########################################
#
#    Retroporting.Enable
#        Description: Enable the Retroporting module
#        Default:     0 - Disabled
#                     1 - Enabled
#

Retroporting.Enable = 1
