[worldserver]

########################################
# Starter npc module configuration
########################################
#
#    HardcoreGossip.Enable
#        Description: Enable the hardcore gossip feature on starting creatures
#        Default:     0 - Disabled
#                     1 - Enabled
#

HardcoreGossip.Enable = 1

#    PlayerBoost.Enable
#        Description: Enable the player boost feature on starting creatures
#        Default:     0 - Disabled
#                     1 - Enabled

PlayerBoost.Enable = 1


